<html>
    <head>
        <title>Pensionato Games</title>
    </head>
    <body>
        <div>
            <h1><a href="">Pensionato Games</a></h1>
        </div>

        <div>
            <p>published: 30/06/2017  12:58:00</p>
            <h2><a href="">Jogos jogados no pensionato</a></h2>
            <p>Neste pensionato são jogados majoritariamente jogos competitivos multiplayer, tais como League of Legende e CSGO, futuramente
a gama de jogos será ampliada!</p>
        </div>

        <div>
            <p>published: 30/06/2017  12:58:00</p>
            <h2><a href="">Horário de jogos no pensionato</a></h2>
            <p>No pensionato da jájá existem regras restritivas para o horário de jogos na sala de estudos, porém jogos podem ser jogados a qualquer momento em outros locais da casa. Em sua maioria os estudantes jogam aos finais de semana e feriados, já que estudam tanto nos outros dias :)</p>
        </div>
    </body>
</html>

